__pycache__
static/uploads/
/data
/logs
/.elasticbeanstalk
/.ebextensions
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# Environment variables and credentials
.env*
*.json

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/

/aws
/scripts

#production build
*.ps1
.env*
!package.json
!package-lock.json
/tests/co3d
/datasets
/processed_data
#it's models
*pt
*fine_tuned_depth_estimation