# Core dependencies
Flask==2.0.1
pymongo[srv]==4.1.1
flask-login==0.5.0
plotly==5.3.1
numpy==1.21.2
Pillow==8.3.2
opencv-python==4.5.3.56
torch==1.9.0
transformers==4.11.3

# Security
dnspython==2.1.0
Werkzeug==2.0.1

# Development tools
python-dotenv==0.19.0
pytest==6.2.5
pytest-cov==2.12.1